[Desktop Entry]
Name=PDF (s)
Comment=ferramenta de manipulação de PDF personalizado
Exec=/opt/scripts/pdf_tool.sh
Icon=/opt/.icon/pdf.png
Terminal=true
Type=Application
Categories=Scripts;
