[Desktop Entry]
Name=Update Tool (s)
Comment=Update personaizado
Exec=/opt/scripts/update_all.sh
Icon=/home/kevin/.icon/Update_icon.png
Terminal=true
Type=Application
Categories=Utility;
